.scenery {
  background-image: url("../../media/img/standstill_scenery.jpg");
  /* background-image: url("../../media/img/pixel-background.webp"); */
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.scenery-animate {
  background-image: url("../../media/img/gif/scenery.gif");
}
